.ball{

  margin-top:50px;
  margin-left: 200px;
    height: 50px;
    width: 50px;
    background-color: orange;
    border-radius: 50%;
    position:relative;
    animation:bounce 0.9s ease-in-out infinit;
}
@keyframes bounce{
    0%{top:0;
    background-color: red;}
    50%{top:150px;
    background-color: orange;
height: 200px;
width: 150px;}
   100%{top:0;
}
}