.flex-container{
    display:flex;
    flex-direction:row;
    height: 100vh;
   width: 100vw;
   justify-content:space-around;
}
 .flex-item{
    background-color: aqua;
height: 50px; 
width: 50px;
border: 1px solid rgba(237, 6, 6, 0.984);
border-radius: 40px;
text-align:end;
place-items:center;
display: flex;
justify-content:center;
align-items:center;
cursor: pointer;
 }
 
.flex-item:hover{
    background-color: rgb(255, 4, 4);
    border-color:white;
    color: antiquewhite;
    border-radius: 4px;

}