.container{
 display: grid;
 height: 400px;
 width: 400px;
 grid-template-columns:100px 100px 100px;
 grid-template-rows: 100px 100px ;
gap: 10px;
justify-content: center;
border: 2px solid black;
text-align: center;
}
.itum{
    background-color: cyan;
}
.itum:nth-child(2){
    background-color: crimson;
    border: 3px solid blue;
    border-radius: ;
}