*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: orange;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color:#1f2937 ;
    align-items: center;
    color: white;
    padding: 20px 80px;
}
nav div ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    cursor: pointer;
}
nav div button{
    padding:5px 10px ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
nav div button:hover{
    background-color:#1144a3;
    color: white;
    transform:scale(1.1);
    transition: all 0.3s ease-in ;
}
nav div button :not(:hover){
    background-color:#1144a3;
    color: white;
    transform:scale(1.1);
    transition: all 0.3s ease-in ;
    }
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#1f2937 ;
    padding: 20px 80px;
}
.hero div{
    width: 50%;
}
.hero div h1{
    font-size: 3rem;
    color: white;
}
.hero div p{
    font-size: 1.2rem;
    color: #b9b9b9;
    margin-bottom: 1rem;
}
.hero div button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width:200px ;
}
.hero div button:hover{
    background-color:#1144a3;
    color: white;
    transform: scale(1.2);
    transition: transform 0.4s ease-in;
}
.hero div img{
    width: 100%;
    height: 350px;
  margin-left: 50px;
}
.hero div img:hover{
    transform: scale(1.1);
transition: transform 0.3s ease-in;
}
.hero div img:not(:hover){
    transform: scale(1);
    transition: transform 0.4s ease-out ;
}
.logo-text{
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;
    
}
.logo{
    width: 70%;
    margin-left: 100px ;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
}
.logo div img{
    width: 100px;
    border-radius: 10px;
}
.three-card{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin: 20px;
      padding: 50px 80px;
      border: 2px solid black;
      border-radius: 5px;
    }
    .card{
        border-radius: 5px;
        text-align:center;
        border-radius: 5px;
        width: 80%;
        padding: 20px;
        border: 2px solid black;
        margin: 20px;
    }
 .card img{
     width: 200px;
     object-fit:cover ;
     border-radius: 5px;
 }
 .card h3{
    margin: 10px 20px;
 }
 .card p{
    margin: 10px 20px;
 }