.container{
    display:flex;
    flex-direction:column;
    height:800px;
    width: 500px;
    border: 3px solid black;
}
.box1{
    display:flex;
    height:40%;

    background-color: blue;
    justify-content: center;

}
.box1 img{
 height:100px;
 align-items:center;
 border-radius:10px;
}
body{
    display: flex;
    justify-content: center;
}
.box2{
    height:60%;
    background-color: gold;
}