.parent{
display: flex;
 height: 150%;
width: 150%;
gap: 20px;
border: 20px;
}
.pc{
background-color: antiquewhite;
    width:350px;
    height: 500px;
    border:2px solid rgb(0, 81, 255);
    box-shadow: 0px 10px 20px 0px rgb(0, 106, 255);
}
.pc:hover{
    background-color: rgba(74, 150, 208, 0.552);
    cursor: pointer;
    
}
.image{
display: flex;
flex-direction:row;
justify-content:center;
align-items: center;
flex-wrap: wrap;
height:250px;
width: 350px;
gap: 10px;
text-shadow:0px 8px 10px rgb(98, 0, 255) ;
}
.item img{
    height: 150px;
    width: 150px;
    
}
.p{
    font-size: 40px;
  text-align: center;
}