body{
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly ;
}
.circle{
  margin-top: 250px;
  height: 200px;
  width: 250px;
  background-color: rgb(200, 106, 44);
}
.circle:hover{
    background-color: rgb(228, 217, 8);
    border-radius: 50%;
    transition: all 0.5s ease-in;
    transform: scale(1.2)rotate(360deg);
}
.circle:not(:hover){
  margin-top: 250px;
  height: 200px;
  width: 250px;
  background-color: rgb(247, 1, 1);transition: all 0.5s ease-in-out                                                 ;
}
